https://www.seoul.go.kr/coronaV/coronaStatus.do

# 서울시에서 공개한 코로나 19 발생 현황 분석

## 데이터 로드

In [1]:
# 라이브러리 

import pandas as pd

In [2]:
# 크롤링으로 가져올 url 주소 입력

url = "https://www.seoul.go.kr/coronaV/coronaStatus.do"
url

'https://www.seoul.go.kr/coronaV/coronaStatus.do'

In [3]:
# url을 통해서 들어가서 table 태그로 구성되어 있는 정보일 때 가능함
# read_html 은 사이트 내의 html 태그를 불러옴

pd.read_html?

In [3]:
table = pd.read_html(url)
table

[   종로구   중구  용산구  성동구  광진구  동대문구  중랑구  성북구  강북구  도봉구  노원구  은평구 서대문구
 0   89   60  130  128  135   166  194  335  155  218  316  252  131
 1  마포구  양천구  강서구  구로구  금천구  영등포구  동작구  관악구  서초구  강남구  송파구  강동구   기타
 2  172  181  290  189   95   199  246  413  203  276  348  189  423,
     종로구   중구  용산구  성동구  광진구 동대문구
 0    89   60  130  128  135  166
 1   중랑구  성북구  강북구  도봉구  노원구  은평구
 2   194  335  155  218  316  252
 3  서대문구  마포구  양천구  강서구  구로구  금천구
 4   131  172  181  290  189   95
 5  영등포구  동작구  관악구  서초구  강남구  송파구
 6   199  246  413  203  276  348
 7   강동구   기타  NaN  NaN  NaN  NaN
 8   189  423  NaN  NaN  NaN  NaN,
      소계  해외접촉관련  도봉구 다나 병원  마포구 서울디자인 고등학교  도봉구 예마루데이케어센터  강남 숭광빌딩 관련  \
 0  5533     433         59               8             33           5

    관악구 사랑나무 어린이집  영등포구 방문판매 업체 관련  동대문구 성경 모임  관악구 큰믿음 교회  ...  영등포구 LG 트윈타워  \
 0             11                7          20           2  ...             7

    강북구 북서울 꿈의교회  관악구 휘트니스 관련  관악구 삼모 스포렉스  서대문구 세브란스 병원  성북구 사랑제일교회  \
 0             6            4           26            37         641

    8·15 서울도심 집회  타 시·도 확진자 접촉자    기타  감염경로 조사중
 0           126            244  2873       962

 [1 rows x 21 columns],
         연번     환자     확진일  거주지     여행력        접촉력 퇴원현황
 0     5533  24567  10.10.  용산구       -  기타 확진자 접촉  NaN
 1     5532  24590  10.10.  강동구     브라질   해외 접촉 추정  NaN
 2     5531  24589  10.10.  송파구     NaN  기타 확진자 접촉  NaN
 3     5530  24588  10.10.  송파구     NaN  기타 확진자 접촉  NaN
 4     5529  24587  10.10.  노원구     NaN   도봉구 다나병원  NaN
 ...    ...    ...     ...  ...     ...        ...  ...
 5528     5      9   1.31.  성북구       -      #5 접촉   퇴원
 5529     4      7   1.30.  마포구  중국 우한시      해외 접촉   퇴원
 5530     3      6   1.30.  종로구       -      #3 접촉   퇴원
 5531     2      5   1.30.  중랑구  중국 우한시      해외 접촉   퇴원
 5532     1      2   1.24.  강서구  중국 우한시      해외 접촉   퇴원

 [5533 rows x 7 columns],
                                                      연번   환자번호           감염경로  \
 0     5533  <tr>  <td class="tdl" colspan="5">  <p><...  24567      기타 확진자 접촉
 1     5532  <tr>  <td class="tdl" colspan="5">  <p>확...  24590  해외 접촉 추정(브라질)
 2     5531  <tr>  <td class="tdl" colspan="5">  <p>확...  24589   기타 확진자 접촉(　)
 3     5530  <tr>  <td class="tdl" colspan="5">  <p>확...  24588   기타 확진자 접촉(　)
 4     5529  <tr>  <td class="tdl" colspan="5">  <p>확...  24587    도봉구 다나병원(　)
 ...                                                 ...    ...            ...
 5528  5  <tr>  <td class="tdl" colspan="5">  <p>이동경로...      9          #5 접촉
 5529  4  <tr>  <td class="tdl" colspan="5">  <p>이동경로...      7  해외 접촉(중국 우한시)
 5530  3  <tr>  <td class="tdl" colspan="5">  <p>이동경로...      6          #3 접촉
 5531  2  <tr>  <td class="tdl" colspan="5">  <p>이동경로...      5  해외 접촉(중국 우한시)
 5532  1  <tr>  <td class="tdl" colspan="5">  <p>이동경로...      2  해외 접촉(중국 우한시)

         확진일  거주지 퇴원현황
 0     10/10  용산구  NaN
 1     10/10  강동구  NaN
 2     10/10  송파구  NaN
 3     10/10  송파구  NaN
 4     10/10  노원구  NaN
 ...     ...  ...  ...
 5528   1/31  성북구   퇴원
 5529   1/30  마포구   퇴원
 5530   1/30  종로구   퇴원
 5531   1/30  중랑구   퇴원
 5532   1/24  강서구   퇴원

 [5533 rows x 6 columns]]

In [7]:
# 읽어온 table이 몇 개인지 확인하기

len(table)

5

In [10]:
# table 변수 안에 있는 값들을 확인하며 어떤 테이블을 선택할 것인지 알아보기
table[0]

   종로구   중구  용산구  성동구  광진구  동대문구  중랑구  성북구  강북구  도봉구  노원구  은평구 서대문구
0   89   59  128  128  134   166  193  334  151  212  313  252  131
1  마포구  양천구  강서구  구로구  금천구  영등포구  동작구  관악구  서초구  강남구  송파구  강동구   기타
2  168  181  287  189   95   196  245  413  203  276  342  188  412

In [12]:
table[1]

    종로구   중구  용산구  성동구  광진구 동대문구
0    89   59  128  128  134  166
1   중랑구  성북구  강북구  도봉구  노원구  은평구
2   193  334  151  212  313  252
3  서대문구  마포구  양천구  강서구  구로구  금천구
4   131  168  181  287  189   95
5  영등포구  동작구  관악구  서초구  강남구  송파구
6   196  245  413  203  276  342
7   강동구   기타  NaN  NaN  NaN  NaN
8   188  412  NaN  NaN  NaN  NaN

In [13]:
table[2]

,소계,해외접촉관련,관악구 사랑나무 어린이집,영등포구 방문판매 업체 관련,도봉구 다나 병원,동대문구 성경 모임,도봉구 예마루데이케어센터,관악구 큰믿음 교회,서초구 병원 관련,강남구 대우디오빌 플러스,...,강북구 북서울 꿈의교회,관악구 휘트니스 관련,마포구 서울디자인 고등학교,관악구 삼모 스포렉스,서대문구 세브란스 병원,성북구 사랑제일교회,8·15 서울도심 집회,타 시·도 확진자 접촉자,기타,감염경로 조사중
0,5485,427,11,8,51,20,31,2,3,29,...,6,4,7,26,37,641,126,246,2847,956

In [18]:
# table[2] 는 옆으로 기니까 세로로 해서 보기

table[2].transpose()        # table[2].T

                    0
소계               5485
해외접촉관련            427
관악구 사랑나무 어린이집      11
영등포구 방문판매 업체 관련     8
도봉구 다나 병원          51
동대문구 성경 모임         20
도봉구 예마루데이케어센터      31
관악구 큰믿음 교회          2
서초구 병원 관련           3
강남구 대우디오빌 플러스      29
영등포구 LG 트윈타워        7
강북구 북서울 꿈의교회        6
관악구 휘트니스 관련         4
마포구 서울디자인 고등학교      7
관악구 삼모 스포렉스        26
서대문구 세브란스 병원       37
성북구 사랑제일교회        641
8·15 서울도심 집회      126
타 시·도 확진자 접촉자     246
기타               2847
감염경로 조사중          956

In [14]:
table[3]

        연번     환자     확진일  거주지     여행력             접촉력 퇴원현황
0     5485  24430  10.08.  관악구       -        감염경로 조사중  NaN
1     5484  24458  10.08.   기타       -        감염경로 조사중  NaN
2     5483  24471  10.08.   기타       -        감염경로 조사중  NaN
3     5482  24474  10.08.  광진구       -  영등포구 방문판매업체 관련  NaN
4     5481  24442  10.08.   기타   인도네시아        해외 접촉 추정  NaN
...    ...    ...     ...  ...     ...             ...  ...
5480     5      9   1.31.  성북구       -           #5 접촉   퇴원
5481     4      7   1.30.  마포구  중국 우한시           해외 접촉   퇴원
5482     3      6   1.30.  종로구       -           #3 접촉   퇴원
5483     2      5   1.30.  중랑구  중국 우한시           해외 접촉   퇴원
5484     1      2   1.24.  강서구  중국 우한시           해외 접촉   퇴원

[5485 rows x 7 columns]

In [15]:
table[4]

,연번,환자번호,감염경로,확진일,거주지,퇴원현황
0,"5485 <tr> <td class=""tdl"" colspan=""5""> <p>확...",24430,감염경로 조사중,10/08,관악구,NaN
1,"5484 <tr> <td class=""tdl"" colspan=""5""> <p>확...",24458,감염경로 조사중,10/08,기타,NaN
2,"5483 <tr> <td class=""tdl"" colspan=""5""> <p>확...",24471,감염경로 조사중,10/08,기타,NaN
3,"5482 <tr> <td class=""tdl"" colspan=""5""> <p>확...",24474,영등포구 방문판매업체 관련,10/08,광진구,NaN
4,"5481 <tr> <td class=""tdl"" colspan=""5""> <p>확...",24442,해외 접촉 추정(인도네시아),10/08,기타,NaN
...,...,...,...,...,...,...
5480,"5 <tr> <td class=""tdl"" colspan=""5""> <p>이동경로...",9,#5 접촉,1/31,성북구,퇴원
5481,"4 <tr> <td class=""tdl"" colspan=""5""> <p>이동경로...",7,해외 접촉(중국 우한시),1/30,마포구,퇴원
5482,"3 <tr> <td class=""tdl"" colspan=""5""> <p>이동경로...",6,#3 접촉,1/30,종로구,퇴원
5483,"2 <tr> <td class=""tdl"" colspan=""5""> <p>이동경로...",5,해외 접촉(중국 우한시),1/30,중랑구,퇴원
5484,"1 <tr> <td class=""tdl"" colspan=""5""> <p>이동경로...",2,해외 접촉(중국 우한시),1/24,강서구,퇴원

In [19]:
# 찾은 테이블을 데이터프레임에 넣어주기

df = table[3]
df.shape

(5485, 7)

In [20]:
# 미리보기

df.head()

     연번     환자     확진일  거주지    여행력             접촉력 퇴원현황
0  5485  24430  10.08.  관악구      -        감염경로 조사중  NaN
1  5484  24458  10.08.   기타      -        감염경로 조사중  NaN
2  5483  24471  10.08.   기타      -        감염경로 조사중  NaN
3  5482  24474  10.08.  광진구      -  영등포구 방문판매업체 관련  NaN
4  5481  24442  10.08.   기타  인도네시아        해외 접촉 추정  NaN

In [24]:
# 마지막 확진일을 파일명에 써주기 위해 . 을 _로 변경
# 확장자와 구분이 쉽게 되도록 _로 변경

last_day = df.loc[0, "확진일"]
last_day

'10.08.'

In [25]:
last_day = last_day.replace(".","_")
last_day

'10_08_'

In [27]:
# 파일명을 만들어 주기 f"" (format string 의미)

file_name = f"seoul-covid19_{last_day}.csv"
file_name

'seoul-covid19_10_08_.csv'

In [28]:
# csv 파일로 저장
df.to_csv(file_name)

In [29]:
# 제대로 저장되었는지 다시 확인하기
# Unnamed : 기존에 있던 인덱스 값이 들어가서 나옴

pd.read_csv(file_name)

      Unnamed: 0    연번     환자     확진일  거주지     여행력             접촉력 퇴원현황
0              0  5485  24430  10.08.  관악구       -        감염경로 조사중  NaN
1              1  5484  24458  10.08.   기타       -        감염경로 조사중  NaN
2              2  5483  24471  10.08.   기타       -        감염경로 조사중  NaN
3              3  5482  24474  10.08.  광진구       -  영등포구 방문판매업체 관련  NaN
4              4  5481  24442  10.08.   기타   인도네시아        해외 접촉 추정  NaN
...          ...   ...    ...     ...  ...     ...             ...  ...
5480        5480     5      9   1.31.  성북구       -           #5 접촉   퇴원
5481        5481     4      7   1.30.  마포구  중국 우한시           해외 접촉   퇴원
5482        5482     3      6   1.30.  종로구       -           #3 접촉   퇴원
5483        5483     2      5   1.30.  중랑구  중국 우한시           해외 접촉   퇴원
5484        5484     1      2   1.24.  강서구  중국 우한시           해외 접촉   퇴원

[5485 rows x 8 columns]

In [30]:
# csv 저장시 인덱스는 저장하지 말라고 하기

df.to_csv(file_name, index=False)

In [31]:
pd.read_csv(file_name)

        연번     환자     확진일  거주지     여행력             접촉력 퇴원현황
0     5485  24430  10.08.  관악구       -        감염경로 조사중  NaN
1     5484  24458  10.08.   기타       -        감염경로 조사중  NaN
2     5483  24471  10.08.   기타       -        감염경로 조사중  NaN
3     5482  24474  10.08.  광진구       -  영등포구 방문판매업체 관련  NaN
4     5481  24442  10.08.   기타   인도네시아        해외 접촉 추정  NaN
...    ...    ...     ...  ...     ...             ...  ...
5480     5      9   1.31.  성북구       -           #5 접촉   퇴원
5481     4      7   1.30.  마포구  중국 우한시           해외 접촉   퇴원
5482     3      6   1.30.  종로구       -           #3 접촉   퇴원
5483     2      5   1.30.  중랑구  중국 우한시           해외 접촉   퇴원
5484     1      2   1.24.  강서구  중국 우한시           해외 접촉   퇴원

[5485 rows x 7 columns]

### [참고] csv 파일을 엑셀로 읽고 싶다면? => 단, 주피터에서는 못 읽음

In [ ]:
df.to_csv(file_name, index=False, encoding="cp949")
pd.read_csv(file_name,encoding="cp949")